#container {
    -fx-alignment: center-left;
    -fx-padding: 0;
    -fx-pref-height: 25;
}

.button {
    -fx-max-height: infinity;
    -fx-border-radius: 0;
    -fx-pref-width: 20000;
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: lightgray;
}