.chart-symbol {
    -fx-shape: null;
    -fx-animated: false;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 100;
    -fx-pref-height: 5;
    -fx-pref-width: 5;
}