#lineChart {
    -fx-legend-visible: false;
    -fx-legend-side: top;
}

.theor-line {
    -fx-stroke: rgba(0, 0, 0, 0.4);
    -fx-stroke-width: 2px;
}

.model-line {
    -fx-stroke: rgba(0, 0, 255, 0.5) !important;
    -fx-stroke-width: 3;
}

.transparent-line {
    -fx-stroke: transparent !important;
}

.exp-symbol {
    -fx-background-color: LightGreen;
    -fx-border-color: MediumSeaGreen;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 6px;
    -fx-pref-height: 6px;
}

.exp-upper-symbol {
    -fx-pref-width: 8;
    -fx-pref-height: 4;
    -fx-background-color: LightCoral;
    -fx-border-color: FireBrick;
    -fx-background-radius: 100px 100px 0 0;
    -fx-border-radius: 100px 100px 0 0;
}

.exp-lower-symbol {
    -fx-pref-width: 8;
    -fx-pref-height: 4;
    -fx-background-color: LightBlue;
    -fx-border-color: CornflowerBlue;
    -fx-background-radius: 0 0 100px 100px;
    -fx-border-radius: 0 0 100px 100px;
}

.theor-symbol {
    -fx-background-radius: 50%;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-pref-width: 3px;
    -fx-pref-height: 3px;
}

.model-symbol {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-pref-width: 6;
    -fx-pref-height: 6;
    -fx-background-radius: 50%;
}

.hidden-symbol {
    -fx-background-color: rgba(150, 150, 150, 0.5);
    -fx-pref-width: 5;
    -fx-pref-height: 5;
    -fx-background-radius: 50%;
    -fx-border-width: 0;
}
