#vesCurve .chart-series-line {
    -fx-stroke: transparent;
}

#vesCurve #vesCurveAxisY .axis-label {
    -fx-label-padding: -75 0 0 0;
}

#vesCurve #vesCurveAxisX .axis-label {
    -fx-label-padding: 0 0 -15 0;
}

#vesCurve .chart-line-symbol.series0 {
    -fx-background-color: LightGreen;
    -fx-border-color: MediumSeaGreen;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 6px;
    -fx-pref-height: 6px;
}

#vesCurve .chart-line-symbol.series1 {
    -fx-background-color: LightCoral;
    -fx-border-color: FireBrick;
    -fx-background-radius: 100px 100px 0 0;
    -fx-border-radius: 100px 100px 0 0;
}

#vesCurve .chart-line-symbol.series2 {
    -fx-background-color: LightBlue;
    -fx-border-color: CornflowerBlue;
    -fx-background-radius: 0 0 100px 100px;
    -fx-border-radius: 0 0 100px 100px;
}

#vesCurve .chart-line-symbol.series3 {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-pref-width: 3px;
    -fx-pref-height: 3px;
}

#vesCurve .chart-series-line.series3 {
    -fx-stroke: rgba(0, 0, 0, 0.4);
    -fx-stroke-width: 2px;
}

#vesCurve .chart-line-symbol {
    -fx-border-width: 1px; /* можно сделать 0, чтобы обводки не было */
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 8px;
    -fx-pref-height: 4px;
}

#inaccuracyCurve .chart-series-line {
    -fx-stroke: Red;
    -fx-stroke-width: 2px;
    -fx-stroke-line-cap: butt;
    -fx-stroke-line-join: miter;
    -fx-stroke-type: centered;
    -fx-stroke-miter-limit: 0.1;
}

#inaccuracyCurve .chart-line-symbol {
    -fx-border-width: 0;
    -fx-pref-width: 15px;
    -fx-pref-height: 3px;
    -fx-background-color: Red;
}
