.root {
    -fx-background-color: White;
}

#openEXPButtonContainer {
    -fx-alignment: center;
    -fx-padding: 0;
}

#openEXPButton {
    -fx-font-weight: bold;
    -fx-background-color: Green;
    -fx-text-fill: White;
}

#openEXPButton:hover {
    -fx-background-color: DarkGreen;
}

#textContainer {
    -fx-padding: 20px;
}
